body{
    display: flex;
}

div{
    width: 200px;
    height: 200px;
    border: solid 2px black;
}

/* Quando a altura for maior que a largura, cada caixa ficará em baixo da outra. Quando contrário, cada caixa ficará ao lado da outra */
@media (orientation: landscape){
    body{
        flex-direction: row;
    }
}

@media (orientation: portrait){
    body{
        flex-direction: column;
    }
}