p{
    color: #0000FF;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Irish Grover', cursive;
    text-align: left; /*center, left, etc*/
    /* text-transform: uppercase; */ /*Tudo com letra maiúscula*/
    /*word-spacing: 10px; */ /*Espaçamento entra as palavras */
    /* text-shadow: 2px 2px 3px #000; */ /*Espaçamento entre as letras*/
}

a{
    text-decoration: none;
    color: indigo;
}
a:hover{
    text-decoration: underline;
}