fieldset{
    background-color: #BBB;
    border: 2px solid blue;
    margin-bottom: 10px ;
}
legend{
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 50px;
    font-size: 15px;
}