/* Quando definido a cor pink para o Body ela também altera a cor do "h1", pois a cor é uma propriedade que é herdada. Ou seja, tudo que está dentro do "body" muda de cor */
body{
    margin: 0px;
    color: pink;
}

.container {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #CCC;
    font-size: 30px;

    border: 2px ;    
    color: #FF0000;
}

/* Especificidade: Classes sempre terão prioridade se comparado a uma tag geral */
.container strong{
    border: 2px solid black;
}